body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}

.company {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 1rem;
}

.company-block-twocolumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-block-twocolumns__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-additional__block {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.company-block-linecolums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.04rem dotted rgba(0, 0, 0, 0.2);
  border-bottom: 0.04rem dotted rgba(0, 0, 0, 0.2);
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.company-block-linecolums__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-block-linecolums__item-icon {
  margin-right: 0.1875rem;
}

.company-block-linecolums__item-text {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.company-block-linecolums__item-value {
  font-size: 0.9rem;
  line-height: 1.25rem;
  margin-right: 0.1875rem;
}

.company-block-colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-block-colums__contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.2875rem;
  margin-bottom: 0.2875rem;
}

.company-block-colums__contact-block__icon {
  height: 1.0625rem;
  width: 1.0625rem;
}

.company-block-colums__contact-block__separator {
  width: 0.8rem;
  margin-left: 0.3875rem;
  margin-right: 0.3875rem;
}

.company-block-colums__contact-block__text {
  font-size: 0.9rem;
}

.company-block-colums__contact-block__icon-vk {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.8rem;
}

.company-block-colums__contact-block__icon-twitter {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.8rem;
}

.company-block-colums__contact-block__icon-instagram {
  height: 1.5rem;
  width: 1.5rem;
}

.mt15 {
  margin-top: 0.95rem;
}

.company-logo__default {
  background: url("../images/logo.png") no-repeat;
  background-position: center;
  width: 100%;
  background-size: contain;
  height: 100%;
}

.transition, .company-block-dropdown__li-item, .company-block-dropdown__li i:before, .company-block-dropdown__li i:after, .company-block-dropdown__list-item__info__li-item {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.flipIn, .company-block-dropdown__li, .company-block-dropdown__list-item__info__li {
  -webkit-animation: flipdown 0.5s ease both;
          animation: flipdown 0.5s ease both;
}

.no-select, .company-block-dropdown__li-title, .company-block-dropdown__list-item__info__li-title {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.company-block-dropdown__li-title {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: bold;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}

.company-block-dropdown__li-item {
  position: relative;
  overflow-x: hidden;
  max-height: 500px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-block-dropdown__ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0;
}

.company-block-dropdown__li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  border-top: 1px dotted #999999;
  border-bottom: 1px dotted #999999;
}

.company-block-dropdown__li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.company-block-dropdown__li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.company-block-dropdown__li:nth-of-type(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.company-block-dropdown__li i {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 7px;
  right: 0;
  margin-right: 12px;
}

.company-block-dropdown__li i:before, .company-block-dropdown__li i:after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 3px;
  height: 9px;
}

.company-block-dropdown__li i:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
}

.company-block-dropdown__li i:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg);
}

.company-block-dropdown__li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.company-block-dropdown__li input[type=checkbox]:checked ~ .company-block-dropdown__li-item {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.company-block-dropdown__li input[type=checkbox]:checked ~ i:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}

.company-block-dropdown__li input[type=checkbox]:checked ~ i:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}

@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.company-block-dropdown {
  margin-top: 0.7rem;
}

.company-block-dropdown__list-item__info {
  padding-right: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-block-dropdown__list-item__info-title {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.25rem;
}

.company-block-dropdown__list-item__info-text {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.company-block-dropdown__list-item__info-rating {
  margin-top: 0.7rem;
}

.company-block-dropdown__list-item__info-rating-title {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.company-block-dropdown__list-item__info-rating-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-block-dropdown__list-item__info-rating-info__items {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.company-block-dropdown__list-item__info-rating-info__items-icon {
  height: 9.5rem;
  width: 9.5rem;
}

.company-block-dropdown__list-item__info-rating-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-block-dropdown__list-item__info-rating-info__item-line {
  width: 100%;
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.company-block-dropdown__list-item__info-rating-info__item-numeral {
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}

.company-block-dropdown__list-item__info-rating-info__item-svg {
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.company-block-dropdown__list-item__info-rating-info__item-text {
  -ms-flex-preferred-size: 78%;
      flex-basis: 78%;
}

button.company-block-dropdowm__list-item__info-rating__button-leave {
  font-size: 0.9rem;
  border: 0.04rem solid #999999;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  outline: none;
  line-height: 2rem;
  background: transparent;
}

button.company-block-dropdowm__list-item__info-rating__button-still {
  font-size: 0.9rem;
  border: 0.04rem solid  #999999;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  line-height: 2rem;
  background: transparent;
}

.company-block-dropdown__li-item::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  background-color: #F5F5F5;
}

.company-block-dropdown__li-item::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

.company-block-dropdown__li-item::-webkit-scrollbar-thumb {
  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

.company-block-colums__item-icon {
  height: 17px;
  width: 17px;
  margin-right: 0.5rem;
}

button.company-block-colums__item {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 1rem;
  text-align: left;
  width: 50%;
  cursor: pointer;
}

.company-block-colums__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-block-coluns__item-text {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

button.company-block-dropdown__list-item__info__similar-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-block-dropdown__list-item__info__similar-companies__logo img {
  height: 1.75rem;
  width: 1.75rem;
}

span.company-block-dropdown__list-item__info__similar-companies__text {
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.company-block-dropdown__list-item__info__similar-companies__logo {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

button.company-block-dropdown__list-item__info__similar-companies {
  border: 0.04rem solid #999999;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 100%;
  background: transparent;
  outline: none;
}

.company-block-dropdown__list-item__info__li-title__icon {
  height: 17px;
  width: 17px;
  margin-right: 0.5rem;
}

.company-block-dropdown__list-item__info__li-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}

.company-block-dropdown__list-item__info__li-item__text {
  font-size: 0.75rem;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  border: 0.04rem solid #999999;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  padding-left: 0.4rem;
}

.company-block-dropdown__list-item__info__li-item {
  position: relative;
  overflow-x: hidden;
  max-height: 500px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-block-dropdown__list-item__info__ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}

.company-block-dropdown__list-item__info__li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border: 0.04rem solid  #999999;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.company-block-dropdown__list-item__info__li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.company-block-dropdown__list-item__info__li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.company-block-dropdown__list-item__info__li:nth-of-type(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.company-block-dropdown__list-item__info__li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.company-block-dropdown__list-item__info__li input[type=checkbox]:checked ~ .company-block-dropdown__list-item__info__li-item {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.company-block-dropdown__list-item__info__li input[type=checkbox]:checked ~ i:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}

.company-block-dropdown__list-item__info__li input[type=checkbox]:checked ~ i:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
/*# sourceMappingURL=style.css.map */